body{
    margin:0;
    padding: 0;
}
img,#ciudad1,.imgs{
    display: none;
}
img.principal{
    display: block;
}
img.estatica{
    position:absolute;
    background: white;
    filter: grayscale(100%);
}
img.estatica:hover{
    transition: 1s;
    opacity: 0;
}
/*HACER FLECHA GRANDE*/
label:hover{
    transition: .5s;
    transform: scale(1.5);
}
.imgs{
    display: none;
}
#ciudad1:checked+.imgs{
    display:flex;
    flex-direction: row;
}
#ciudad1:checked+.imgs > div > img{
    display:block;   
    width: 200px;
    height: 270px;
    object-fit: none;
}
