body
{
   
    margin: 0;
}
header
{
    max-width: 100vw;
    min-height: 75vh;
    align-content: center;
    background: linear-gradient(#68ACE6,white)
}
nav{
    min-height: 5vh;
    background-color: #E6B567;
    min-width: 70vw;
    max-width: 100vw; 
    text-align: center;
}
nav ul{
    background-color: #E6B567;
    text-decoration: none;
    
}
nav li{
    display: inline-block;
    list-style: none;
    min-width:10vw;
    text-align:center;
    color:#fff;
    font-size: 18px;
    margin: 10px;
}
li:hover
{
    text-decoration:underline;
}

footer 
{
    max-width: 100vw;
    min-height: 25vh;
    background-color: #366B99;
    text-align: center;
}

footer>img:hover
{
    transform:scale(0.75);
    transition: transform .5s ease-in-out;
}




@media (max-width: 768px)
{
    nav{
        text-align: center;
    }
    nav ul {
        margin:0px;
        padding-top: 1vh;
    }
    nav li{
        margin: 0px;
        font-size: 16px;
        width: 14vw;
    }

    footer{
        font-size: 16px;
    }

    
    
}

