body
{
   
    margin: 0;
}
main
{
    max-width: 100vw;
    min-height: 100vh;
}
header
{
    max-width: 100vw;
    min-height: 75vh;
    background-color: #68ACE6;
}
footer 
{
    max-width: 100vw;
    min-height: 25vh;
    background-color: #366B99;
}